{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
{% extends "base.html" %}
{% block header %}
My Runs
{% endblock %}
{% block content %}
    <p>These are the runs you have submitted. You need to activate your runs before
    they will be displayed on the site. A run can only be activated if it is
    complete. This means that you need to have submitted a ranking for every
    query of the site. You can submit your rankings for the queries via the
    API.</p>
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Run ID</th>
        <th>Site ID</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
    {%  for system in systems %}
        <tr>
            <td><a href="{{ url_for('runs.run', run_id=system['runid']) }}">{{ system['runid'] }}</a></td>
            <td>{{ system['siteid'] }}</td>
            <td>{{ system['active'] }}</td>
        </tr>
    {%  endfor %}
  	</tbody>
	</table>
{% endblock %}