{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
{% extends "base.html" %}
{% block header %}
Run {{ system['runid'] }}
{% endblock %}
{% block content %}
    <table class="table table-striped table-hover ">
    <tbody>
    <tr>
        <td>Run ID:</td>
        <td>{{ system['runid'] }}</td>
    </tr>
    <tr>
        <td>Site ID:</td>
        <td>{{ system['siteid'] }}</td>
    </tr>
    <tr>
        <td>Active:</td>
        <td>{{ system['active'] }}</td>
    </tr>
    <tr>
        <td>Impressions:</td>
        <td><strong>{{ system['nr_times_displayed'] }}</strong></td>
    </tr>
    </tbody>
	</table>
    {% if not can_activate and not system['active'] %}
        <div class="alert alert-warning">
            <strong>You cannot activate this run yet.</strong><br />
            {{ criteria }}
        </div>
    {% endif %}
    {% if can_activate and not system['active'] %}
        <div class="form-group">
            <div class="alert alert-info">
                You can use the button below to <strong>activate</strong> this run
            </div>
      		<div>
        		<a href="{{ url_for('runs.activate', run_id=system['runid']) }}" class="btn btn-primary">Activate</a>
      		</div>
    	</div>
    {% endif %}
    {% if system['active'] %}
        <div class="form-group">
            <div class="alert alert-info">
                <strong>This run is currently active and is being displayed on the site.</strong><br/>
                You can use the button below to deactivate this run and prevent it from being used.
            </div>
      		<div>
                <a href="{{ url_for('runs.deactivate', run_id=system['runid']) }}" class="btn btn-primary">Deactivate</a>
      		</div>
    	</div>
    {% endif %}
{% endblock %}